---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-4">
          {% include examples_nav.html %}
        </div>

        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
            <div id="markdown-content-container">{{ content }}</div>
            <div style="clear:both;">
              <p class="text-center">
                <br />
                <a target="_blank" href="{{site.git_edit_address}}/{{ page.path }}" class="btn btn-default" role="button">
                  <i class="fa fa-pencil fa-lg"></i> Improve this page
                </a>
              </p>
            </div>
            <hr>
            {% include section_nav_examples.html %}
        </div>

    </div>
</div>
