---
layout: default
---

<div class="header-container jumbotron">
    <div class="container">
        <h1>VisualHull</h1>
        <p>A Uni Project by Miro Rashid for constructing a visual hull from silhouettes by using voxels.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ "/docs/home/" | relative_url }}" role="button">Learn more</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="header-light regular-pad">What is VisualHull?</h2>
              <p class="lead">This is my university project at <em>Heidelberg University</em> for the subject <em>Informatik</em>, as part of the module <em>Anfängerpraktikum</em> in the summer semester 2021.
                The goal is a program which takes in some input parameters and silhouettes of a 3D object taken from different perspectives and positions, then it will (re)construct the 3D model, so that the projected silhouettes of this model align with the input files.
                There are different ways of this construction. In this project I chose the approach to carve a big cube consisting of voxels, such that the remaining voxels project a silhouette/view contained in the input silhouettes.
              </p>
              <h2 class="header-light regular-pad">Who am I?</h2>
              <p class="lead">I am Miro Rashid, a Computer Science and Mathematics student currently (as of 2021) enrolled at the <em>Heidelberg University</em> pursuing a B.Sc. degree for both subjects.</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="{{ "/assets/img/visualhull.png" | relative_url }}" alt="VisualHull logo" class="img-responsive">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-code-fork" aria-hidden="true"></i></h1>
            <h3 class="text-center">Git-Repository</h3>
            <p>The whole project, including source code, examples, and this webpage, is maintained via git and is available on Gitlab: <a href="https://gitlab.com/mirorasu/visualhull">https://gitlab.com/mirorasu/visualhull</a>. Clone the repo and play around for yourself!</p>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-code" aria-hidden="true"></i></h1>
            <h3 class="text-center">Open-Source Code</h3>
            <p>This project is open-source and underlies the <a href="https://gitlab.com/mirorasu/visualhull/-/blob/main/LICENSE">MIT License</a>. If you find bugs and errors, or you have found improvement and optimization potential, feel free to contact me.</p>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></h1>
            <h3 class="text-center">Customizability</h3>
            <p>There are many settings for the creation of a visual hull. Check the <a href ={{ "/docs/parameters/" | relative_url }}>parameters</a> that can be set in a parameter json-file.</p>
        </div>
    </div>
</div>
