<footer class="footer">
    <div class="container">

        <p class="text-center">
            <a href="{{ site.git_address }}">{{ site.title }}</a> by Miro Rashid | Summer Semester 2021 | Powered by <a href="https://aksakalli.github.io/jekyll-doc-theme/">Jekyll Doc Theme</a>
        </p>
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
    </div>
</footer>
