{% comment %}
Map grabs the example sections, giving us an array of arrays. Join, flattens all
the items to a comma delimited string. Split turns it into an array again.
{% endcomment %}
{% assign examples = site.data.examples | map: 'examples' | join: ',' | split: ',' %}

{% comment %}
Because this is built for every page, lets find where we are in the ordered
document list by comparing url strings. Then if there's something previous or
next, lets build a link to it.
{% endcomment %}

{% for document in examples %}
  {% assign document_url = document | prepend:"/examples/" | append:"/" %}
  {% if document_url == page.url %}
    <ul class="pager">
      {% if forloop.first %}
        <li class="previous disabled">
          <a>
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        {% assign previous = forloop.index0 | minus: 1 %}
        {% assign previous_page = examples[previous] | prepend:"/examples/" | append:"/" %}
        <li class="previous">
          <a href="{{ previous_page | relative_url }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% endif %}

      {% if forloop.last %}
        <li class="next disabled">
          <a>
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        {% assign next = forloop.index0 | plus: 1 %}
        {% assign next_page = examples[next] | prepend:"/examples/" | append:"/" %}
        <li class="next">
          <a href="{{ next_page | relative_url }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
      </ul>
    <div class="clear"></div>
    {% break %}
  {% endif %}
{% endfor %}
